@font-face {
    font-family: "IBMPlexMono", sans-serif;
    src: url(/assets/fonts/IBMPlexMono-SemiBold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: "IBMPlexMono", sans-serif;
    src: url(/assets/fonts/IBMPlexMono-Text.woff2);
    font-weight: normal;
}

:root {
    --main-font: "IBMPlexMono", monospace;
    --height-nav: 3rem;
}

* {
    box-sizing: border-box;
    font-family: var(--main-font);
    padding: 0px;
    margin: 0px;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

header {
    height: var(--height-nav);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1.5rem;
    position: sticky;
    top: 0px;
}

header div,
header div a {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.rightSide {
    height: var(--height-nav);
    width: var(--height-nav);
    display: flex;
    justify-content: center;
}

.rightSide button {
    gap: 5px;
    font-size: 17px;
    display: flex;
    cursor: pointer;
}

.leftSide button {
    width: var(--height-nav);
    height: var(--height-nav);
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
}



.backArrow {
    width: var(--height-nav);
    height: var(--height-nav);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

svg {
    width: 24px
}

.proudctsGrid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 1rem;
    padding-top: 0px;
    padding-bottom: var(--height-nav);
    height: calc(100vh - var(--height-nav));
    overflow: auto;

}

.gridGap1 {
    row-gap: 2rem;
}

.gridGap3 {
    row-gap: 4rem;
    column-gap: 4rem;
}

.gridGap6 {
    row-gap: 5rem;
    column-gap: 2rem;

}

.gridGap9 {
    row-gap: 3rem;
    column-gap: 1rem;
}

.proudctImg {
    width: 100%;
}

.proudctImgGrid1 {
    width: 38% !important;
}

.AddButton {
    transition: opacity 0.3s ease;
}

.zoomIn {
    transform: scale(1.2);
    filter: blur(10px);
    opacity: 0;
    transition:
        transform 400ms,
        filter 400ms ease-in-out,
        opacity 400ms;
}

.zoomOut {
    transform: scale(0.8);
    filter: blur(10px);
    opacity: 0;
    transition:
        transform 400ms,
        filter 400ms ease-in-out,
        opacity 400ms;
}

.fadeIn {
    transform: translateY(20px);
    transition:
        opacity 800ms ease-in-out,
        transform 200ms ease-in-out;
}

.fadeIn.show {
    opacity: 1;
    transform: translateY(0);
}



.title span {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;
}

.proudctsGrid>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}


a {
    color: black;
    text-decoration: none;
}


.cartContiner {
    width: 45%;
    margin: auto;
    height: calc(100vh - var(--height-nav));
    padding: 0rem 2rem;
    z-index: 100;

}

.cartView {
    height: 75%;

}

.calculations {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.total {
    display: flex;
    justify-content: space-between;
}

.Continue {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}


.total span:nth-of-type(2) {
    font-weight: bold;

}

.Continue button {
    background: none;
    border: none;
    font-size: 24px;
    height: 100%;
    width: 5%;
}

.cartItem {
    height: calc((100vh - var(--height-nav))/3.3);
    display: flex;
    justify-content: space-between;
}

.cartItem img {
    height: inherit;
}

.itemDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}


.itemTag,
.itemSizeLine,
.qtyLine {
    display: flex;
    justify-content: space-between;
}

.qty {
    padding: 0px 10px;
}

.qtySet button {
    background: none;
    border: none;
    height: 100%;
    width: 1.2rem;
    cursor: pointer;

}

.continueButton {
    cursor: pointer;
}

.cartView {
    overflow-y: scroll;
    scrollbar-width: none;
}

.hidden {
    display: none !important;
}

.buttonClear {
    border: none;
    background: none;
}

.sizeList,
.head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.addButtonContiner {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1.5rem 0px;
    width: 100%;
}

.addButtonContiner button {
    padding: 1.5rem;
    font-size: 30px;
    cursor: pointer;
}

.fadeable {
    transition: opacity 0.5s;
}

.sizeSelectContiner {
    width: 100%;
    margin: auto;
}


.sizeSet {
    width: 80px;
    font-size: 16px;
    font-weight: bold;
    padding: 1.5rem 0px;
    cursor: pointer;

}

.proudctDetails {
    width: 100%;
}

.sizeList {
    padding: 2rem 0px;
}

.title {
    text-align: center;
    padding: 7px 0px;
}

.head,
.info {
    width: 100%;
    font-size: 1rem;

}

.head {
    padding: 5px 0px;
}

.info {
    opacity: 1;
}

.sizeSelectContiner {
    padding: 0px 2rem;
    opacity: 1;
}

.head button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0px 1.5rem;
    cursor: pointer;

}

.sizeNum,
.sizeTxt {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.listItems {
    position: relative;
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding-left: 2rem;
    left: -100px;
    opacity: 0;
    transform: translateX(0);
    pointer-events: none;
    /* Prevent interaction */
    height: 0;
    /* Remove space */
    overflow: hidden;
    /* Hide content */
    transition: transform 0.5s, opacity 0.5s, height 0.5s;
}

.slideIn {
    transform: translateX(100px);
    opacity: 1;
    pointer-events: auto;
    /* Allow interaction */
    height: auto;
    /* Restore height */
}

.slideOut {
    opacity: 0;
    transform: translateX(0);
    pointer-events: none;
    /* Disable interaction */
    height: 0;
    /* Collapse space */
}

.helpContainer {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    width: calc(100vw/2.5);
    margin: auto;
    position: relative;
    top: 8%;
    line-height: 24px;
}